<nav class="navbar navbar-expand-lg navbar-dark bg-danger ">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="assets/icon.png" alt="Met Museum" width="30" height="30" class="d-inline-block align-text-top">
            The Met
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-100" id="navbarContent">
            <div class="d-flex w-100 justify-content-between align-items-center">



                <ul class="navbar-nav d-flex flex-row justify-content-center flex-grow-1">
                    <li class="nav-item mx-3">
                        <a class="nav-link btn btn-outline-dark text-white fs-5" onclick="goToHome()">Home</a>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle btn btn-outline-dark text-white fs-5" href="#" id="departmentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Departments
                        </a>
                        <ul class="dropdown-menu" id="departmentsMenu">
                            <!-- Department list inserted by JS -->
                        </ul>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link btn btn-outline-dark text-white fs-5" onclick="goToAbout()">About</a>
                    </li>
                </ul>


                <!-- Right , serach form -->
                <form class="d-flex" id="searchForm">
                    <input class="form-control me-2" type="search" placeholder="Search" id="searchInput">
                </form>
            </div>
        </div>
    </div>
</nav>
